html {
  top: env(safe-area-inset-top);
  bottom: env(safe-area-inset-bottom);
  user-select: none;
}

.drawer .transition-transform {
  top: env(safe-area-inset-top);
  bottom: env(safe-area-inset-bottom)
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

section {
  content-visibility: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes flash {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.animate-flash {
  animation: flash 0.2s infinite;
}

@keyframes vibe {
  0% {
    transform: matrix(1, 0, 0, 1, 0, 0);
    filter: blur(0)
  }

  50% {
    transform: matrix(3, 0, -3, 1, 3, -3);
    filter: blur(10px)
  }

  100% {
    transform: matrix(1, 0, 0, 1, 0, 0);
    filter: blur(0)
  }
}

.animate-vibe {
  animation: vibe .2s linear;
  transition: all .3s;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.map-overlay {
  background: linear-gradient(180deg, #ffffff, transparent)
}

@media screen and (min-width:768px) {
  .map-overlay {
    background: linear-gradient(270deg, #ffffff, transparent)
  }
}
